@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #000;
	color: #fcfcfc;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	margin: 0;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__container{
		max-width: 320px;
		margin: 0 auto;
		padding: 10px 40px;
		font-family: sans-serif;
	}

	&__title{
		font-size: 3rem;
		line-height: 3.4rem;
		margin: 0 0 1.7rem 0;
		font-family: 'Montserrat', sans-serif;
	}

	&__location{
		margin-bottom: 2rem;
	}

	&__form{
		position: relative;

	}

	&__wrongemail,
	&__auth{
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		display: block;
		margin-bottom: 0.5rem;
		color: #FF473A;
		transition: .3s;
		opacity: 0;

		&.active{
			opacity: 1;
		}
	}

	&__input{
		display: block;
		border-radius: 0;
		color: #000;
		line-height: 1.1rem;
		font-weight: bold;
		width: 100%;
		padding: 0.9rem;
		border: 1px solid #000;

		&::placeholder{
			color: #000;
		}

		&.border-danger{
			border-color: #FF473A;
		}
	}

	&__link{
		display: block;
		padding: 0.5rem 0;
		color: #fcfcfc;
		text-decoration: none;
		font-size: 0.7rem;
		transition: .3s;

		&--forgotpass{
			text-align: right;
		}

		&:hover{
			color: darken(#fcfcfc, 15%);
		}
	}

	&__submit{
		display: block;
		border-radius: 0;
		border: 2px solid transparent;
		color: #fff;
		text-align: center;
		background: #FF473A;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 100%;
		padding: 0.9rem;
		cursor: pointer;
		margin-top: 2rem;
		transition: .3s;

		&:hover{
			background: darken(#FF473A, 7%);
		}

		&[disabled]{
			pointer-events: none;
			opacity: .6;
		}
	}
}


