@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	color: #262626;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 1px;
}
