/* ================================
	Task 1
================================ */
.task1{
	padding: 2rem 0;
	margin-bottom: 2rem;
	border-bottom: 1px solid #ccc;

	&__modal{
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		z-index: 1050;
		width: 100%;
		height: 100%;
		overflow: hidden;
		outline: 0;
		background-color: rgba(0,0,0, .2);
		opacity: 0;
		pointer-events: none;
		transition: 0.5s;
	}

	&__modal_window{
		position: relative;
		width: 400px;
		height: auto;
		background-color: #fff;
		padding: 1.5rem;
		border-radius: 7px;
		transition: 0.5s;
		transform: translateY(50px);
	}

	&__modal.active{
		opacity: 1;
		pointer-events: initial;

		.task1__modal_window{
			transform: translateY(0);
		}
	}

	&__modal_close{
		position: absolute;
		right: 10px;
		top: 3px;
		font-size: 2rem;
		cursor: pointer;
		line-height: 1;
		font-weight: 600;
		transition: .2s;

		&:hover{
			color: var(--blue);
		}
	}
}


/* ================================
	Task 2
================================ */
.task2{

}

